<p id="notice"><%= notice %></p>

<h1>Iot Data</h1>
<div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Temperature</th>
              <th>Humidity</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @iot_data.each do |iot_datum| %>
              <tr>
                <td><%= iot_datum.temp %></td>
                <td><%= iot_datum.hum %></td>
                <td><%= link_to 'Show', iot_datum %></td>
                <td><%= link_to 'Edit', edit_iot_datum_path(iot_datum) %></td>
                <td><%= link_to 'Destroy', iot_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
</div>

<br>

<%= link_to 'New Iot Data', new_iot_datum_path %>
