<div class="container-lg">
        <div class="container-fluid">
                <h1>Signup Page</h1>
                <% if(@account_new.errors.any?) %>
                <ul>
                        <%= @account_new.errors.full_messages.each do |data| %>
                                <li>
                                        <strong><%= data %></strong>
                                </li>

                        <% end %>
                </ul>

                <% end %>
                <%= form_with url: '/signup', method: :get do |new_form| %>

                        <div class="mb-3 row">
                                <div class="col-sm-2 col-form-label">
                                        <%= new_form.label :u_name  , "Username" %>
                                </div>
                                <div class="col-sm-10">
                                        <%= new_form.text_field :u_name %>
                                </div>
                        </div>

                        <div class="cmb-3 row">
                                <div class="col-sm-2 col-form-label">
                                        <%= new_form.label :email , "Email" %>
                                </div>
                                <div class="col-sm-10">
                                        <%= new_form.text_field :email %>
                                </div>
                        </div>

                        <div class="mb-3 row">
                                <div class="col-sm-2 col-form-label">
                                        <%= new_form.label :pass , "Password" %>
                                </div>
                                <div class="col-sm-10">
                                        <%= new_form.text_field :pass %>
                                </div>
                        </div>


                        <div class="mb-3 row">
                                <div class="col-sm-2 col-form-label">
                                        <%= new_form.label :repass , "Re-enter Password" %>
                                </div>

                                <div class="col-sm-10">
                                        <%= new_form.text_field :repass %>
                                </div>
                                <% if !(@message.nil?) %>
                                <strong> <%= @message %> </strong>
                                <% end %>
                        </div>

                        <div class = "btn btn-dark">
                                <%= new_form.submit "Sinup" %>
                        <div>

                <% end %>
        </div>

</div>
